In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [16]:
df = pd.DataFrame({
    'farthest_run_mi' : [50, 62, np.NaN, 45, 45,65]
})

In [17]:
df

   farthest_run_mi
0             50.0
1             62.0
2              NaN
3             45.0
4             45.0
5             65.0

In [18]:
imp_mean = SimpleImputer(strategy = 'mean')

s1 = pd.DataFrame(imp_mean.fit_transform(df))
s1

      0
0  50.0
1  62.0
2  53.4
3  45.0
4  45.0
5  65.0

In [21]:
imp_median = SimpleImputer(strategy = 'median')

s2 = pd.DataFrame(imp_median.fit_transform(df))
s2

      0
0  50.0
1  62.0
2  50.0
3  45.0
4  45.0
5  65.0

In [23]:
imp_mod = SimpleImputer(strategy = 'most_frequent')
s3 = pd.DataFrame(imp_mod.fit_transform(df))

s3

      0
0  50.0
1  62.0
2  45.0
3  45.0
4  45.0
5  65.0

In [25]:
imp_cons = SimpleImputer(strategy = 'constant', fill_value = 56)
s4 = pd.DataFrame(imp_cons.fit_transform(df))
s4

      0
0  50.0
1  62.0
2  56.0
3  45.0
4  45.0
5  65.0